@charset "utf-8";
/* CSS Document */

.pagination {
    margin: 10px auto;
    
}

#pagination {
    float: right;
    margin-right: 20px;
}
	
#pagination div{
    float: left;
	padding-right: 5px;       
}

#pagination div a{
    text-decoration: none;      
}


